<!-- /templates/collection.liquid -->
{% comment %}
  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection
{% endcomment %}

{% paginate collection.products by 12 %}

{% include 'breadcrumb' %}

<div class="grid--rev">
  <div class="grid__item large--full-width">

    {% if collection.description != blank %}
      <header class="section-header">
        <h1 class="section-header__title">{{ collection.title }}</h1>
        <div class="rte rte--header">
          {{ collection.description }}
        </div>
      </header>
      <hr>
      <div class="section-header">
        <div class="section-header__right">
          {% include 'collection-sorting' %}
        </div>
      </div>
    {% else %}
      <header class="section-header">
        <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
        <div class="section-header__right">
          {% include 'collection-sorting' %}
        </div>
      </header>
    {% endif %}

    <div class="grid-uniform">
      {% for product in collection.products %}
        {% include 'product-grid-item' %}
      {% else %}
        {% if collection.handle == 'all' and current_tags == '' %}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}
        {% else %}
          <div class="grid__item">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}

  </div>
</div>

{% endpaginate %}
